#container {
  width: 250px;
  position: relative;
}

#cassette {
  width: 100%;
}

#rouageGauche {
  position: absolute;
  width: 10%;
  top: 36%;
  left: 24%;
  z-index: -1;
  animation: engrenage 10s infinite linear;
}

#rouageDroite {
  position: absolute;
  width: 10%;
  top: 36%;
  right: 24%;
  z-index: -1;
  animation: engrenage 10s infinite linear;
}

@keyframes engrenage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
