#cassetteContainer {
  width: 250px;
  position: absolute;
  top: -250px;
  left: 50%;
}

#cassetteContainer p {
  position: absolute;
  z-index: 5;
  bottom: 26%;
  left: 32%;
  transform: rotate(-3deg);
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
  font-weight: 900;
}

#cassette {
  width: 100%;
}

#rouageGauche {
  position: absolute;
  width: 10%;
  top: 36%;
  left: 24%;
  z-index: -1;
  animation: engrenage 10s infinite linear;
}

#rouageDroite {
  position: absolute;
  width: 10%;
  top: 36%;
  right: 24%;
  z-index: -1;
  animation: engrenage 10s infinite linear;
}

@keyframes engrenage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
